{% extends 'admin/base.html' %} {% load static %} {% block extrahead %}{{ block.super }}
<head>

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
		rel="stylesheet"
	/>

	<style>
		:root {
			--primary: #d74657;
			--secondary: #5cb127;
			--link-fg: #ff2e63;
			--link-selected-fg: #ff2e63;
			--header-color: #fff;
			--accent: #fff;
			--button-hover-bg: #b33a48;
			--default-button-hover-bg: #4a8f20;
		}
		#branding {
			color: #ffff;
		}

		body {
			font-family: "Nunito", sans-serif;
			background-color: #eeeeee;
		}
	</style>
</head>
<body></body>
{% endblock %}
