{% extends "admin/login.html" %}

{% load i18n static %}

{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
.login {
    background-color: #EAEAEA;
}
#header {
    background-color: #5cb127 !important;
}

#container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #5cb127 !important;
    border-radius: 15px !important;
}


h1 span {
  font-size: 1.5rem;
}

</style>
{% endblock %}

{% block branding %}
<h1>
  <span>Администрация Trader One™</span>
  <br />
  <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %}

